:root {
    --pink: #fbe6f4ff;
    --yellow: #fffad1ff;
    --green: #e1f0e5ff;
    --blue: #b5caf9ff;
    --orange: #f5e6db;
    --raisin: #2b283aff;
    --grey: #d4d4d4;
}

body {
    background-color: var(--raisin);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    font-size: 2em;
}

p {
    margin: 0 0 1em;
}

.countdown-display {
    text-transform: uppercase;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
}
button{
    padding: 10px 10px 10px 10px;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    
}
 @keyframes rocket {
    0%{
     transform: translate(0 , 0);
     
    }
    50% {
        transform: translate(500px ,-500px);
        
    }
    100%{
        transform: translate(500px ,-500px);
    }
 }
 .rocket{
  animation-name: rocket ;
  animation-duration:4s;
  
 }
 